#-----------------------------------------
# KiCad: Temporary/backup/autogen files
#-----------------------------------------
*.kicad_prl
*.kicad_sch-bak
*.kicad_pcb-bak
*-autosave.kicad_sch
*-autosave.kicad_pcb
*.net
*.xml
*.bck
*.bak

#-----------------------------------------
# Output files (Gerbers, drills, etc.)
#-----------------------------------------
*.gbr
*.gbl
*.gbp
*.gbs
*.gml
*.gm1
*.gtl
*.gts
*.gto
*.gbo
*.drl
*.drd
*.dri
*.fab

#-----------------------------------------
# Build/Debug/Release artifacts
#-----------------------------------------
# Generic settings
.settings/
.metadata/
Debug/
Release/
debug/
release

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (Windows DLLs, etc.)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug info
*.dSYM/
*.su
*.idb
*.pdb
